@model GBlog.Models.Blog

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smaointe Fánacha</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <main>@Html.DisplayFor(model => model.Content)</main>
    </div>
</div>